@font-face {
    font-family: 'Roboto';
    src: url('Roboto/Roboto-Regular.ttf');
    src: url('Roboto/Roboto-Regular.ttf') format('truetype');
    font-weight: 400; 
}
@font-face {
    font-family: 'Roboto';
    src: url('Roboto/Roboto-Medium.ttf');
    src: url('Roboto/Roboto-Medium.ttf') format('truetype');
    font-weight: 500; 
}
@font-face {
    font-family: 'Roboto';
    src: url('Roboto/Roboto-Light.ttf');
    src: url('Roboto/Roboto-Light.ttf') format('truetype'); 
    font-weight: 300;
}
@font-face {
    font-family: 'Roboto';
    src: url('Roboto/Roboto-Bold.ttf');
    src: url('Roboto/Roboto-Bold.ttf') format('truetype'); 
    font-weight: 800;
}
.nzmpnt-12{
    width: 100%;
    display: inline-block;
    position: relative;
}
.nzmpnt-9{
    width: 75%;
    display: inline-block;
    position: relative;
    float: left;
}
.nzmpnt-6{
    width: 48%;
    display: inline-block;
    position: relative;
    float: left;
}
.nzmpnt-3{
    width: 25%;
    display: inline-block;
    position: relative;
    float: left;
}
.nzmpnt_errordiv {
    color: #8f0000;
    font-size: 18px;
    line-height: 24px;
    text-align: left;
    font-weight: 600;
}
.nzmpnt_errordiv.active {
    color: green;
}
.nzmpnt_title_h1 {
    font-family: 'Roboto';
    color: #000871;
    font-size: 30px;
}
form.nzmpnt_form {
    width: 100%;
    position: relative;
    display: inline-block;
    max-width: 100%;
}
form.nzmpnt_form input[type="text"], form.nzmpnt_form input[type="email"], form.nzmpnt_form textarea, form.nzmpnt_form select {
    position: relative;
    display: block;
    background: #ffffff;
    border: 1px solid #e1e1e1;
    width: 100%;
    height: 40px;
    color: #000000;
    font-size: 18px;
    font-weight: 400;
    font-style: normal;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 5px;
    transition: all 500ms ease;
    font-family: 'Roboto';
}
form.nzmpnt_form textarea {
    height: 190px;
    padding-top: 17px;
    padding-left: 20px;
    padding-right: 20px;
}
form.nzmpnt_form textarea.small_textarea {
    height: 100px;
}
.nzmpnt_button{
    float: right;
    display: inline-block;
    cursor: pointer;
    background: #000871;
    padding: 10px 15px;
    color: #fff;
    text-decoration: none;
    border-radius: 0px;
    margin-bottom: 15px;
    font-size: 16px;
    margin-right: 20px;
    font-family: 'Roboto';
}
.nzmpnt_button_table{
    float: none;
    display: inline-block;
    cursor: pointer;
    background: #000871;
    padding: 5px 10px;
    color: #fff;
    text-decoration: none;
    border-radius: 0px;
    margin-bottom: 0px;
    font-size: 14px;
    margin-right: 0px;
    font-family: 'Roboto';
}
.nzmpnt_button:hover, .nzmpnt_button:active, .nzmpnt_button:focus, .nzmpnt_button_table:hover, .nzmpnt_button_table:active, .nzmpnt_button_table:focus{
    background: #000871;
    color: #fff;
    text-decoration: none;
}
.nzmpnt_dataTable {
  font-family: 'Roboto';
  border-collapse: collapse;
  width: 100%;
  padding-top: 15px;
}
#nzmpnt_dataTable_wrapper.dataTables_wrapper {
    width: 100%;
    max-width: 100%;
    overflow-x: scroll;
    font-family: 'Roboto';
}
#nzmpnt_dataTable_wrapper.dataTables_wrapper .dataTables_length select {
    min-width: 60px;
}
#nzmpnt_dataTable_wrapper.dataTables_wrapper .dataTables_paginate .paginate_button.current{
    background: linear-gradient(to bottom, #000871 0%, #000871 100%);
    color: #ffffff !important;
    border: 1px solid #000871;
}
.nzmpnt_dataTable td, .nzmpnt_dataTable th {
  border: 1px solid #ddd;
  padding: 8px;
}
table.dataTable.nzmpnt_dataTable thead th, table.dataTable.nzmpnt_dataTable thead td {
    border-bottom: 0px solid #111;
    font-family: 'Roboto';
    font-size: 16px;
    line-height: 22px;
}
.nzmpnt_dataTable tr:nth-child(even){background-color: #f2f2f2;}
.nzmpnt_dataTable tr:hover {background-color: #ddd;}
.nzmpnt_dataTable th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #000871;
  color: white;
}
@media screen and (max-width: 640px){
    .nzmpnt_dataTable.dataTables_wrapper .dataTables_length, .nzmpnt_dataTable.dataTables_wrapper .dataTables_filter {
        text-align: left;
    }  
}
/***************** new css ******************/
.nzmpnt_setting_div {
    padding-top: 20px;
    padding-bottom: 20px;
}
.nzmpnt_headingh1 {
    color: #000046;
    font-size: 36px;
    line-height: 42px;
    font-weight: bold;
    margin: 0;
}
.nzmpnt_headingh2 {
    color: #000046;
    font-size: 30px;
    line-height: 36px;
    font-weight: bold;
    margin: 0;
}
.nzmpnt_headingh3{
    color: #000046;
    font-size: 24px;
    line-height: 30px;
    font-weight: bold;
    margin: 0;
    margin-bottom: 10px;
}
.nzmpnt_setting_div p{
    font-size: 16px;
    color: #333;
    line-height: 24px;
}
.nzmpnt_ad_image{
    width: 100%;
}
.nzmpnt_setting_div .nav-item{
    margin-bottom: 0px;
}
.nzmpnt_setting_div .nav-item>button.active, .nzmpnt_setting_div .nav-item>.active>button:focus, .nzmpnt_setting_div .nav-item>.active>button:hover {
    color: #fff;
    cursor: default;
    background-color: #000871;
    border: 1px solid #000871;
    border-bottom-color: transparent;
}
.nzmpnt_setting_div .nav-item>button {
    color: #000046;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 1px;
}
.nzmpnt_setting_div .tab-content>.active {
    padding-top: 20px;
    padding-bottom: 20px;
}
.nzmpnt_setting_div .nzmpnt_submit {
    background: #000871;
    border: 1px solid #000871;
    color: #fff;
    font-size: 16px;
    line-height: 18px;
    padding: 10px 25px;
}
.nzmpnt_submit {
    background: #000871;
    border: 1px solid #000871;
    color: #fff;
    font-size: 16px;
    line-height: 18px;
    padding: 10px 25px;
}
.nzmpnt_headingh4 {
    font-size: 22px;
    line-height: 28px;
    font-family: 'Roboto';
    font-weight: bold;
    color: #000871;
}
.nzmpnt_setting_div .nzmpnt_submit:hover {
    background: #333;
    border: 1px solid #333;
    color: #fff;
}
.nzmpnt_back_time {
    max-width: 200px;
}
.nzmpnt_back_field{
    max-width: 300px;
}
.nzmpnt_modal .modal-dialog {
    margin: 60px auto;
}
.nzmpnt_modal .modal-content{
    padding: 20px;
    border: 20px solid #000871;
}
.nzmpnt_head_div {
    background: skyblue;
    padding: 50px 0px;
    border-top: 10px solid #000046;
    margin-top: 20px;
    margin-right: 15px;
}
.nzmpnt_single_bullet {
    font-size: 18px;
    line-height: 24px;
    padding: 10px 10px;
    display: inline-block;
    word-break: break-all;
}
.nzmpnt_single_bullet strong{
    color: #000871;
}
.nzmpnt_radio[type="radio"]:checked,
.nzmpnt_radio[type="radio"]:not(:checked) {
    position: absolute;
    left: -9999px;
}
.nzmpnt_radio[type="radio"]:checked + label,
.nzmpnt_radio[type="radio"]:not(:checked) + label
{
    position: relative;
    padding-left: 28px;
    cursor: pointer;
    line-height: 20px;
    display: inline-block;
    color: #666;
    margin-right: 10px;
}
.nzmpnt_radio[type="radio"]:checked + label:before,
.nzmpnt_radio[type="radio"]:not(:checked) + label:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 18px;
    height: 18px;
    border: 1px solid #9d9c9c;
    border-radius: 100%;
    background: #fff;
}
.nzmpnt_radio[type="radio"]:checked + label:after,
.nzmpnt_radio[type="radio"]:not(:checked) + label:after {
    content: '';
    width: 12px;
    height: 12px;
    background: #000871;
    position: absolute;
    top: 3px;
    left: 3px;
    border-radius: 100%;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}
.nzmpnt_radio[type="radio"]:not(:checked) + label:after {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
}
.nzmpnt_radio[type="radio"]:checked + label:after {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
}
span.nzmpnt_req_span {
    color: red;
    font-size: 18px;
    margin-left: 2px;
}
.nzmpnt_preloader.active {
    display: inline-block;
}
.nzmpnt_preloader {
    width: 100%;
    text-align: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding-top: 13%;
    background: rgba(255, 255, 255, .85);
    z-index: 2222;
    display: none;
}
.nzmpnt_preloader{
    height: 100%;
}
.nzmpnt_screenshot_image{
    border: 1px solid #000871;
        max-width: 100%;
}
.nzmpnt_adarea{
    display: inline-block;
}
.dataTables_wrapper#nzmpnt_dataTable_wrapper .dataTables_paginate .paginate_button.current, .dataTables_wrapper#nzmpnt_dataTable_wrapper .dataTables_paginate .paginate_button:hover{
    background: #000871;
    color: #fff !important;
    border: 1px solid #000871;
}
.nzmpnt_setting_div #nzmpntstyles textarea{
    width: 100%;
    min-height: 400px;
}
#nzmpnt_timezone_selected {
    padding-left: 20px;
}
.nzmpnt_row {
    margin-bottom: 15px;
}
.nzmpnt_row label {
    font-size: 16px;
    line-height: 22px;
    margin-bottom: 5px;
}
.nzmpnt_modal .modal-header {
    display: inline-block;
	position: relative;
}
.nzmpnt_modal .modal-header .btn-close {
    float: right;
    position: absolute;
    top: 20px;
    right: 10px;
}
.nzmpnt_center {
    text-align: center;
}
.nzmpnt_left{
    text-align: left;
}
.nzmpnt-pl-10{
    padding-left: 10px;
}
.nzmpnt-pr-10{
    padding-right: 10px;
}
.nzmpnt-mt-10{
    margin-top: 10px;
}
.nzmpnt-mb-10{
    margin-bottom: 10px;
}
.nzmpnt-mt-15{
    margin-top: 15px;
}
.nzmpnt-mb-15{
    margin-bottom: 15px;
}
.nzmpnt-mt-20{
    margin-top: 20px;
}
.nzmpnt-mb-20{
    margin-bottom: 20px;
}
.nzmpnt-mr-10{
    margin-right: 10px !important;
}
